UPDATE income_ideas SET failure_rate_percentage = 25, last_verified_at = NOW() - interval '5 hours' WHERE slug = 'agri-drone-service';
UPDATE income_ideas SET failure_rate_percentage = 8, last_verified_at = NOW() - interval '1 hour' WHERE slug = 'vending-machine-network';
UPDATE franchises SET last_verified_at = NOW() - interval '2 days' WHERE is_featured = true;

