-- 🚀 SILENT MONEY SYSTEM ENHANCEMENT 2026
-- Adding Institutional-grade fields for Trust and SEO

-- 1. Add Verification Timestamps and Failure Metrics
ALTER TABLE income_ideas ADD COLUMN IF NOT EXISTS last_verified_at TIMESTAMPTZ DEFAULT NOW();
ALTER TABLE income_ideas ADD COLUMN IF NOT EXISTS failure_rate_percentage INTEGER DEFAULT 15;
ALTER TABLE income_ideas ADD COLUMN IF NOT EXISTS schema_data JSONB DEFAULT '{}'::jsonb;

ALTER TABLE franchises ADD COLUMN IF NOT EXISTS last_verified_at TIMESTAMPTZ DEFAULT NOW();
ALTER TABLE franchises ADD COLUMN IF NOT EXISTS schema_data JSONB DEFAULT '{}'::jsonb;

-- 2. Enhance Asset Audit Logs (if not exists)
CREATE TABLE IF NOT EXISTS asset_audit_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    asset_id UUID NOT NULL,
    asset_type TEXT NOT NULL, -- 'idea' or 'franchise'
    modified_by UUID REFERENCES auth.users(id),
    action TEXT NOT NULL, -- 'VERIFY', 'UPDATE_ROI', 'APPROVE', 'RESTORE'
    previous_status TEXT,
    new_status TEXT,
    feedback TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS on audit logs
ALTER TABLE asset_audit_logs ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
Admins
can
see
all
logs\ ON asset_audit_logs;
CREATE POLICY \Admins
can
see
all
logs\ ON asset_audit_logs FOR SELECT TO authenticated USING (
    EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND is_admin = true)
);

-- 3. Update existing records with dummy verification dates
UPDATE income_ideas SET last_verified_at = NOW() - interval '2 days' WHERE last_verified_at IS NULL;
UPDATE franchises SET last_verified_at = NOW() - interval '1 day' WHERE last_verified_at IS NULL;

