ALTER TABLE income_ideas ADD COLUMN IF NOT EXISTS is_approved BOOLEAN DEFAULT FALSE;
ALTER TABLE franchises ADD COLUMN IF NOT EXISTS is_approved BOOLEAN DEFAULT FALSE;

-- Update existing items to be approved so the site doesn't go empty
UPDATE income_ideas SET is_approved = TRUE;
UPDATE franchises SET is_approved = TRUE;
