CREATE TABLE IF NOT EXISTS public.franchise_reviews (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    franchise_id UUID REFERENCES public.franchises(id) ON DELETE CASCADE,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    rating INTEGER CHECK (rating >= 1 AND rating <= 5),
    content TEXT,
    author_response TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(franchise_id, user_id)
);

-- RLS for franchise_reviews
ALTER TABLE public.franchise_reviews ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Anyone
can
view
franchise
reviews\ 
ON public.franchise_reviews FOR SELECT 
USING (true);

CREATE POLICY \Authenticated
users
can
post
franchise
reviews\ 
ON public.franchise_reviews FOR INSERT 
WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Users
can
update
their
own
franchise
reviews\ 
ON public.franchise_reviews FOR UPDATE 
USING (auth.uid() = user_id);
